*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.titulo{
    width: 1300px;  
}

.titulo h1{
    color: white;
    text-transform: uppercase;
    margin-left: 585px; 
    margin-top: 150px;
    font-size: 45px;
    font-family: sans-serif;
}

.titulo2 h2{
    color: white;
    text-transform: uppercase;
    margin-left: 520px; 
    margin-top: 0;
    font-size: 25px;
    font-family: sans-serif;
}

.boton_juega{
    margin-top: 30px;
    margin-left: 630px;
}

.btn1{
    border: 2px solid white;
    padding: 10px 17px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
}

.btn{
    border: 2px solid white;
    padding: 13px 40px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
}

.btn-uno:hover{
    color: white;
    background-color:darkcyan;
    transition: all 0.5s ease;
    border-radius: 5px;
}

nav{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    float: left;
}

nav a{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 21px 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    line-height: normal;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

nav a:hover{
    color: white;
    background-color:darkcyan;
    cursor: pointer;
}

nav .fb{
    margin-left: 280px;
    height: 59px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -7px;
}

nav .fb:hover{
    background-color: black;
}

.header2 .fb:hover{
    background-color: black;
}

nav .tw{
    height: 59px;
    margin-left: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -7px;
}

nav .tw:hover{
    background-color: black;
}

.header2 .tw:hover{
    background-color: black;
}

nav .ig{
    height: 59px;
    margin-left: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -7px;
}

nav .ig:hover{
    background-color: black;
}

.header2 .ig:hover{
    background-color: black;
}

nav img{
    width: 35px;
}

.header2{
    position: fixed;
    background: none;
    background-color: black;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.header2 a{
    color: white;
}

.header2 a:hover{
    color: white;
    background-color: darkcyan;
}

#seccion1{
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("https://picsum.photos/2000/1500?random");
    height: 660px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-size: 100vw 100vh;
    display: inline-block;
}

#seccion2{
    height: 600px;
    display: inline-block;
    width: 100%;
    background-color: #f2f2f2;
}

#seccion3{
    height: 680px;
    background: whitesmoke;
    display: inline-block;
    width: 100%;
}

#seccion5{
    height: 680px;
    background:white;
    display: inline-block;
    width: 100%;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*------------------------*/

/*.container{
    position: relative;
    margin-top: 20px;
    width: 700px;
    height: 10px;
    padding-bottom: 40%;
    margin-left: 700px;
}*/

.container{
    width: 100%;
    height: 72%;
    max-width: 950px;
    margin: auto;
    padding: 60px;
    background-color: white;
    margin-top: 80px;
    border-top: 4px solid darkcyan;
}

.container img{
    width: 400px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}

.titu{
    font-size: 27px;
    margin-bottom: 30px;
    margin-top: -40px;
    text-align: center;
    text-transform: uppercase;
}

.container p{
    font-size: 16px;
    font-weight: 200px;
    text-align: justify;
}

body{
    background-color: #eee;
}

.slider_pie{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.slider_pie ul{
    display: flex;
    padding: 0;
    width: 425%;
    height: 125px;

    animation: cambio 15s infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slider_pie li{
    list-style: none;
    width: 100%;
}

.slider_pie img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

/*--------------*/

.content-two{
    width: 100%;
}

.content-details{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-item2{
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    border-top: 3px solid black;
    border-radius: 4px;
}

.content-item2 h4{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}

#seccion3 h1{
    color: black;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    width: 800px;
    margin-left: 275px;
    box-shadow: 5px 5px 5px darkcyan;
    border-top: 3px solid darkcyan;
}

.boton_saber{
    height: 0;
    margin-top: 20px;
}

.btn-dos:hover{
    padding: 7px 25px;
    color: white;
    background-color:darkcyan;
    transition: all 0.5s ease;
}

.btn2{
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    font-family: sans-serif;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    margin-left: 5px;
}

/*--------------------------*/

#seccion4 h1{
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 80px;
    width: 600px;
    text-align: center;
    background-color:whitesmoke;
    box-shadow: 10px 10px 10px black;
    border-top: 3px solid black;
    line-height: 40px;
}

#seccion4{
    margin: auto;
    height: 680px;
    display: inline-block;
    width: 100%;
    background-color: darkgrey;
}

#video{
    width: 1260px;
    height: 450px;
    margin-top: 30px;
    margin-left: 50px;
    background-color: rgba(14, 148, 130, 0.808);
    border-radius: 5px;

}

iframe.video1{
    margin-top: 50px;
    margin-left: 50px;
}

iframe.video2{
    margin-top: 30px;
    margin-left: 50px;
}

iframe.video3{
    margin-top: 30px;
    margin-left: 50px;
}

iframe.video4{
    margin-top: 45px;
    margin-left: 50px;
}

iframe.video5{
    margin-top: 45px;
    margin-left: 50px;
}

iframe.video6{
    margin-top: 45px;
    margin-left: 50px;
}
/*----------------------*/

form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    float: left;
    margin-left: 80px;
    margin-top: 80px;
}

#seccion5 h2{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-top: 4px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    border-radius: 10px;
}

#boton{
    background: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

#boton:hover{
    color: white;
    background-color: darkcyan;
    cursor: pointer;
}

@media(max-width:480px){
    form{
        width: 100%;
    }
}

#mapa{
    width: 700px;
    margin: auto;
    float: right;
    margin-top: 30px;
}

#seccion5 h1{
    float: right;
    margin-right: 150px;
    text-transform: uppercase;
    margin-top: 80px;
    background-color: whitesmoke;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 5px;
    box-shadow: 5px 5px 5px darkcyan;
    border-top: 3px solid black;
    border-radius: 3px;
}


/*------------------*/

footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row a{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}